*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





.row{

   display: flex;
   align-items: center;
   justify-content: center;
   

}



/* img{

    width: 50%;
    height: auto;
} */