*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{

    margin: 5%;

}



.row{

    
   display: flex;
   align-items: center;
   justify-content: center;
   

}

.col{

    width: 50%;
    height: 200px;

}

button{

    border: none;
    border-radius: 50%;
    
}

/* .images{

    width: 50%;
    height: 100px;
} */

img{

    width: 100%;
    

}

.images img:not(.active) {
    display: none;
  }